<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1a214d;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <span class="navbar-text" style="color:white">
        {{ title }}
      </span>
    </form>
  </div>
</nav>
<br />
<div class="container">
  <form class="form-group" [formGroup]="convertForm" (ngSubmit)="convert()">

    <div class="form-group">
      <label for="number-input">Number</label>
      <input class="form-control" type="number" min="-2147483648" max="2147483647" id="number-input"
        formControlName="numberInput">
      <br />
      <label for="number-input" *ngIf="!showLoading && !showError" style="color: gray">{{ result }}</label>
      <div class="alert alert-danger" role="alert" *ngIf="showError">
        <strong>Values are not correct!!!</strong>
      </div>
      <small id="help" class="form-text text-muted">Please enter a number between -2147483648 and 2147483648.</small>
    </div>
  </form>
</div>